
.navbar { 
	background: url('../../images/irongrip.png');

}

.navtext{
	color: white;
	margin-top: 3.7px;
}

.ddnavtext{
	color: black;
}

.dmnavtext{
	color: white;
}

.navtext, .ddnavtext, .dmnavtext {
	font-family: 'Alegreya Sans SC', cursive;
	font-size: 20px;
	font-weight:bold;
}